@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre+SemiBold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-abhaya-libre: "Abhaya Libre";
  --body-medium-medium: Inter;
  --font-abhaya-libre-semibold: "Abhaya Libre SemiBold";
  --font-abel: Abel;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-17xl: 2.25rem;
  --font-size-10xl: 1.813rem;
  --font-size-3xl: 1.375rem;
  --font-size-13xl: 2rem;
  --font-size-7xl: 1.625rem;
  --font-size-lgi: 1.188rem;
  --body-medium-medium-size: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-45xl: 4rem;
  --font-size-32xl: 3.188rem;
  --font-size-19xl: 2.375rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-21xl: 2.5rem;
  --font-size-lg: 1.125rem;
  --font-size-29xl: 3rem;
  --font-size-6xl: 1.563rem;
  --font-size-xl: 1.25rem;
  --font-size-31xl: 3.125rem;
  --font-size-11xl: 1.875rem;
  --font-size-mini: 0.938rem;
  --font-size-3xs: 0.625rem;

  /* Colors */
  --main-color-white: #fff;
  --color-black: #000;
  --main-color-primary: #3981f7;
  --color-dodgerblue-100: #1385ee;
  --color-gainsboro-100: #e8e8e8;
  --greyscale-grey-2001: #e4e7ec;
  --color-gainsboro-200: #e6e6e6;
  --greyscale-grey-200: #e4e4e7;
  --color-cornflowerblue-100: #529cff;
  --color-cornflowerblue-200: #2e9eff;
  --greyscale-grey-50: #fafafa;
  --greyscale-grey-900: #15191e;
  --main-color-black: #0a112f;
  --color-gray-300: rgba(0, 0, 0, 0.27);
  --color-gray-400: rgba(0, 0, 0, 0.77);
  --color-gray-500: rgba(255, 255, 255, 0.8);
  --color-gray-600: rgba(0, 0, 0, 0.91);
  --color-gray-100: rgba(0, 0, 0, 0);
  --color-gray-200: rgba(255, 255, 255, 0.58);
  --additional-colors-green-tint: #effbf2;
  --additional-colors-green: #30c559;
  --color-limegreen-100: rgba(48, 197, 89, 0.55);
  --color-limegreen-200: rgba(48, 197, 89, 0.7);
  --color-dimgray-100: #707278;
  --greyscale-grey-500: #70707a;
  --greyscale-grey-600: #585860;
  --greyscale-grey-400: #9096a2;
  --action-green-green-60: #6ccfa0;
  --color-darkslategray-300: #333;
  --color-darkslategray-100: #142a4b;
  --color-darkslategray-400: rgba(51, 51, 51, 0.91);
  --color-darkslategray-200: rgba(51, 51, 51, 0);
  --action-green-green-80: #3bbf80;
  --color-steelblue: rgba(86, 160, 201, 0.84);
  --color-skyblue: rgba(127, 180, 211, 0.8);
  --color-lightskyblue: #61b0dc;
  --color-red: rgba(251, 11, 11, 0.61);

  /* Gaps */
  --gap-30xl: 3.063rem;
  --gap-5xl: 1.5rem;
  --gap-21xl: 2.5rem;
  --gap-36xl: 3.438rem;
  --gap-31xl: 3.125rem;
  --gap-2xs: 0.688rem;
  --gap-xl: 1.25rem;
  --gap-xs: 0.75rem;
  --gap-12xs: 0.063rem;
  --gap-9xs: 0.25rem;
  --gap-5xs: 0.5rem;
  --gap-37xl: 3.5rem;
  --gap-9xl: 1.75rem;
  --gap-base: 1rem;
  --gap-43xl-4: 3.9rem;
  --gap-12xl: 1.938rem;
  --gap-69xl-3: 5.519rem;
  --gap-25xl: 2.75rem;
  --gap-3xl: 1.375rem;
  --gap-15xl-6: 2.163rem;
  --gap-mid: 1.063rem;
  --gap-4xl: 1.438rem;
  --gap-101xl: 7.5rem;
  --gap-67xl: 5.375rem;
  --gap-24xl: 2.688rem;
  --gap-29xl-6: 3.038rem;
  --gap-2xs-6: 0.663rem;
  --gap-27xl-4: 2.9rem;
  --gap-33xl: 3.25rem;
  --gap-17xl: 2.25rem;
  --gap-lg: 1.125rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-790xl: 50.563rem;
  --padding-507xl: 32.875rem;
  --padding-323xl: 21.375rem;
  --padding-203xl: 13.875rem;
  --padding-99xl: 7.375rem;
  --padding-40xl: 3.688rem;
  --padding-10xl: 1.813rem;
  --padding-182xl: 12.563rem;
  --padding-234xl: 15.813rem;
  --padding-11xl: 1.875rem;
  --padding-4xs: 0.563rem;
  --padding-3xs: 0.625rem;
  --padding-15xl-5: 2.156rem;
  --padding-49xl: 4.25rem;
  --padding-sm: 0.875rem;
  --padding-21xl: 2.5rem;
  --padding-3xl: 1.375rem;
  --padding-5xl: 1.5rem;
  --padding-5xs: 0.5rem;
  --padding-2xl: 1.313rem;
  --padding-366xl: 24.063rem;
  --padding-13xl: 2rem;
  --padding-499xl: 32.375rem;
  --padding-base: 1rem;
  --padding-318xl: 21.063rem;
  --padding-xs: 0.75rem;
  --padding-mid: 1.063rem;
  --padding-9xs: 0.25rem;
  --padding-8xl: 1.688rem;
  --padding-433xl: 28.25rem;
  --padding-275xl: 18.375rem;
  --padding-8xs: 0.313rem;
  --padding-12xs: 0.063rem;
  --padding-39xl: 3.625rem;
  --padding-31xl: 3.125rem;
  --padding-6xl: 1.563rem;
  --padding-18xl: 2.313rem;
  --padding-17xl: 2.25rem;
  --padding-306xl: 20.313rem;
  --padding-lgi: 1.188rem;
  --padding-4xl: 1.438rem;
  --padding-10xs: 0.188rem;
  --padding-35xl: 3.375rem;
  --padding-16xl-3: 2.206rem;
  --padding-57xl: 4.75rem;
  --padding-32xl-5: 3.219rem;
  --padding-14xl: 2.063rem;
  --padding-19xl: 2.375rem;
  --padding-6xs-1: 0.381rem;
  --padding-base-1: 1.006rem;
  --padding-35xl-4: 3.4rem;
  --padding-36xl-5: 3.469rem;
  --padding-7xs: 0.375rem;
  --padding-22xl: 2.563rem;
  --padding-5xs-6: 0.475rem;
  --padding-12xl: 1.938rem;
  --padding-58xl: 4.813rem;
  --padding-2xs: 0.688rem;
  --padding-smi-5: 0.781rem;
  --padding-11xs: 0.125rem;
  --padding-7xs-5: 0.344rem;
  --padding-50xl: 4.313rem;
  --padding-26xl: 2.813rem;
  --padding-9xs-5: 0.219rem;
  --padding-9xl: 1.75rem;
  --padding-76xl: 5.938rem;
  --padding-28xl: 2.938rem;
  --padding-6xs-4: 0.4rem;
  --padding-5xs-5: 0.469rem;

  /* Border radiuses */
  --br-base: 16px;
  --br-mini: 15px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-62xl: 81px;
}
