.component-2state3-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dodgerblue-100);
  border: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.vector-icon {
  position: absolute;
  height: 40.77%;
  width: 56.92%;
  top: 30.77%;
  right: 20%;
  bottom: 28.46%;
  left: 23.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.component-2state3 {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
}
